.modal {
    position: fixed;
    width: 80vw;
    max-width: 620px;
    background-color: #ffffe6;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    padding: 1.2rem;
    top: 30vh;
    left: 50%;
    border-radius: 30px 0 30px 0;
    transform: translateX(-50%);
    z-index: 100;
    border: 2px solid #111;
    transition: 2s;
    display: none;
}

.modal.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
}

.modal p {
    margin: 1rem 0;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.button-delete {
    background-color: #ffa191;
    box-shadow: rgb(255, 112, 87, 0.2) 0 -25px 18px -14px inset, rgb(255, 112, 87, 0.15) 0 1px 2px, rgb(255, 112, 87, 0.15) 0 2px 4px, rgb(255, 112, 87, 0.15) 0 4px 8px, rgb(255, 112, 87, 0.15)  0 8px 16px, rgb(255, 112, 87, 0.15)  0 16px 32px;
    color: #993b2b;
}

.button-delete:hover {
    box-shadow: rgba(255, 112, 87, 0.35) 0 -25px 18px -14px inset,rgba(255, 112, 87,.25) 0 1px 2px,rgba(255, 112, 87,.25) 0 2px 4px,rgba(255, 112, 87,.25) 0 4px 8px,rgba(255, 112, 87,.25) 0 8px 16px,rgba(255, 112, 87,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}