header {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    background: linear-gradient(89.99deg, #234D49 0.46%, #495F86 24.82%, #25A6BB 44.52%, #0ABAD4 62.67%, #03AAC0 82.36%, #058490 99.99%) #495F86;

}

header h1 {
    margin: 0;
    color: white;
    font-size: 1.5rem;
}

header button {
    font: inherit;
    padding: 0.5rem 1rem;
    background: #66b366;
    border: 2px solid black;
    font-weight: 900;
    color: white;
    border-radius: 6px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    transition: 300ms;
}

header button:hover,
header button:active {
    background: #f3cc4b;
    border-color: #f3cc4b;
    color: #995200;
}