<div class="modal card" id="add-modal"
[ngClass]="{visible : displayModal}"    
>
    <div class="modal__content">
        <form [formGroup]="movieForm">
            <label for="title">Movie Title</label>
            <input type="text" formControlName="title" id="title"/>
            <label for="image-url">Image URL</label>
            <input type="text" formControlName="imageUrl" id="image-url" />

            <span>Your Rating</span>
            <div class="radio_container">
                <label>
                    <input type="radio" id="one_star" formControlName="rating" value="1">
                    1 &starf;
                </label>
                
                <label>
                    <input type="radio" id="two_star" value="2" formControlName="rating">
                    2 &starf;&starf;
                </label>

                <label>
                    <input type="radio" id="three_star" value="3" formControlName="rating">
                    3 &starf;&starf;&starf;
                </label>

                <label>
                    <input type="radio" id="four_star" value="4" formControlName="rating">
                    4 &starf;&starf;&starf;&starf; 
                </label>

                <label>
                    <input type="radio" id="five_star" value="5" formControlName="rating">
                    5 &starf;&starf;&starf;&starf;&starf;
                </label>
            </div>
        </form>
    </div>
    <div class="modal__content" *ngIf="invalidInputs.length > 0">
        <ul *ngFor="let item of invalidInputs">
            <li>{{item}}</li>
        </ul>
    </div>
    <div class="modal__actions">

        <button class="button-56 btn-clear" role="button"
            (click)="clearForm()
        ">Clear</button>
        <button class="button-56 btn-cancel" role="button"
            (click)="closeModal()"
        >Cancel</button>
        <button class="button-56 btn-add" role="button"
            (click)="onSubmit()"
        >Add</button>
    </div>
</div>